<a href="https://colab.research.google.com/github/shivamsingh163248/Coding-Ninjas-Solutions/blob/main/IIT_Ropar_Minor_in_AI/Assignment/IIT_Ropar_Minor_in_AI_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = input("Enter your age: ")  # String input
age = int(age)  # Convert to integer

print(age)

Enter your age: 45
45

In [2]:
age = int(input("Enter your age: "))
print(age)

Enter your age: 56
56

In [3]:
age = input("enter the age ")
print(age)

enter the age 578
578

In [4]:
int("10")    # Converts string "10" to integer 10
float(5)     # Converts integer 5 to float 5.0
str(100)     # Converts integer 100 to string "100"

'100'

In [5]:
str(42)   # "42"
str(3.14) # "3.14"

'3.14'

In [10]:
month = int(input("Enter the month number (1-12): "))

if 3 <= month <= 5:
    print("Spring")
elif 6 <= month <= 8:
    print("Summer")
elif 9 <= month <= 11:
    print("Autumn")
else:  # Covers months 12, 1, and 2
    print("Winter")

Enter the month number (1-12): 66
Winter

In [14]:
month = int(input("Enter the month number (1-12): "))

if month in [3, 4, 5]:
    season = "Spring"
elif month in [6, 7, 8]:
    season = "Summer"
elif month in [9, 10, 11]:
    season = "Autumn"
elif month in [12, 1, 2]:
    season = "Winter"

print(season)

Enter the month number (1-12): 7
Summer

In [15]:
season = "Winter" if month in [12, 1, 2] else "Spring" if 3 <= month <= 5 else "Summer" if 6 <= month <= 8 else "Autumn"
print(season)

Summer

In [17]:
season = ["Winter", "Winter", "Spring", "Spring", "Spring",
          "Summer", "Summer", "Summer", "Autumn", "Autumn", "Autumn", "Winter"][month - 1]
print(season)

Summer